#tablas {
    margin-left: 0.5%;
    margin-right: 0.5%;

}

#list-example {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#container {
    margin: 9%;
    margin-top: 2%;
}

#titulo {
    margin: 5%;
}

#options {
    border-collapse: collapse;
    width: 15%;
    margin: 1%;
}
.navTop{
    background-color: #999999;
}